@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;  
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-secondary-900 font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
}

@layer components {
  .btn {
    @apply px-6 py-3 rounded-lg font-medium transition-all duration-200;
  }

  .btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700;
  }

  .btn-secondary {
    @apply bg-secondary-100 text-secondary-900 hover:bg-secondary-200;
  }

  .section {
    @apply py-20 px-4 md:px-8 lg:px-16;
  }

  .container-custom {
    @apply max-w-7xl mx-auto;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-secondary-100;
} 

::-webkit-scrollbar-thumb {
  @apply bg-secondary-300 rounded-full hover:bg-secondary-400;
}


.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
